@import "../../styles/global.scss";

.user {
    padding: 1em;

    &__username {
        margin-bottom: 1em;
    }

    &__teams-header {
        margin-bottom: 1em;
    }

    &__no-team {
        height: 15em;
        @include flex-container(space-between, flex-start, wrap, column);

        &--sub {
            height: 5em;
            @include flex-container(space-between, flex-start, wrap, column);
        }
    }
}