//
// BACKGROUND COLOURS
//

$bg-primary: #F7F8F9;   // page, table headers, cta
$bg-secondary: #232940; // header, cta button hover


//
// COLORS
//

//primary 
// $global-text: #393d4b; 
$global-text: rgb(66, 66, 66); 
$interactive: rgb(255, 247, 255);
$white: #FFFFFF;

//secondary
$secondary-dark: #5C667E;   // table headers & placeholder text
$secondary-light: #BDC5D5;  // outlines, dividers, borders, sorting icons

//
// SUPPORTING COLORS
//

$success: #158463; // in-stock
$danger: #C94515;   // out of stock, error, delete icon